@font-face {
	font-family: 'Open Sans';
	src: url('font/OpenSans.ttf');
}

html, body {
	margin: 0 auto;
	padding: 0;
}

* {
	outline: none !important;
	font-family: 'Open Sans', Helvetica, sans-serif;
}

a {
	text-decoration: none;
}
