doctype html
html
	head
		link(rel='stylesheet' href='./css/app/__name__.css')
	body
		div#__name__
		script(src='./js/es6-module-loader.js')
		script(src='./js/system.js')
		script(src='./js/socket.io.js')
		script(src='./js/lodash.js')
		script(src='./js/app/index.js')
